<div>

        <h1>{{lists.title}}</h1>
        <h4>Establishment: {{lists.establishment}}</h4>
        <h4>Description: {{lists.description}}</h4>
        <!--TODO: <h3>Owner: {{list.owner.username}}</h3>-->
        <small>City: {{lists.city}}</small>
        
        <div class="mt-3">
            <a class="btn btn-primary" href="/lists/{{lists.id}}/edit">Edit</a>
        </div>

</div>