<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-white">
        <form action="/lists/{{lists.id}}/edit" method="POST">

            <div class="form-group mt-4">
                <div class="text-center">
                    <label>Title</label>
                </div>
                <input type="text" name="title" value="{{lists.title}}"class="form-control {{#if errors.title}}is-invalid {{/if}}" placeholder="Title">
                {{#if errors.title}}<div class="invalid-feedback">{{errors.title}}</div>{{/if}}
            </div>

                <div class="form-group mt-4">
                    <div class="text-center">
                        <label>Description</label>
                    </div>
                    <input type="text" name="description" value="{{lists.description}}"class="form-control {{#if errors.description}}is-invalid {{/if}}" placeholder="Description">
                    {{#if errors.description}}<div class="invalid-feedback">{{errors.description}}</div>{{/if}}
                </div>
                
                <div class="form-group mt-4">
                    <div class="text-center">
                        <label>City</label>
                    </div>    
                    <input type="text" name="city" value="{{lists.city}}"class="form-control {{#if errors.city}}is-invalid {{/if}}" placeholder="City">
                    {{#if errors.city}}<div class="invalid-feedback">{{errors.city}}</div>{{/if}}
                </div>

                <div class="form-actions text-center">
                    <button type="submit" class="raise text-black mt-5">Confirm changes</button>
                </div>

        </form>
    </div>
</div>