        
        <ul>
            <li><a href="/create-list">Create list</a></li>
        </ul>

<!-- TODO: Colocar las cards en columnas de 3 -->

{{#each lists as |list|}}
<div class="container d-flex flex-wrap mb-3" style="width: 30rem;">
  <div class="card">
    <div class="card-header">
      <!-- TODO: Foto subida por el usuario (¿Cómo?) (Preguntar a Nico) <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" /> -->
    </div>
    <div class="card-body">
        <div class="">
            <h3>Title: {{list.title}}</h3>
            <h4>Establishment: {{list.establishment}}</h4>
            <h4>Description: {{list.description}}</h4>
            <!--TODO: <h3>Owner: {{list.owner.username}}</h3>-->
            <small>City: {{list.city}}</small>
            <a class="me-auto" href="/lists/{{list.id}}">Detail</a>
            <a class="me-auto ml-5" href="/lists/{{list.id}}/delete">Delete</a>
        </div>
      </div>
    </div>
  </div>
{{/each}}