

<h1>{{establishment.name}}</h1>

<div>
    <a class="fa fa-plus" href="/establishments/{{establishment.id}}/add-to-list"></a>
</div>

<p>{{establishment.description}}</p>
<p>{{establishment.foodType}}</p>
<p>{{establishment.location}}</p>
<p>{{establishment.price}}</p>


<form action="/establishments/{{establishment.id}}/comments" method="POST">
    <div class="input-group">
        <span class="input-group-text"><i class="fa fa-edit"></i></span>
        <textarea class="form-control {{#if errors.text}}is-invalid {{/if}}" name="text"></textarea>
        <button class="btn btn-outline-secondary" type="submit" value="{{message.text}}"><i class="fa fa-send"></i></button>
        {{#if errors.text}} <div class="invalid-feedback">{{errors.text}}</div>{{/if}}
    </div>
</form>

<!-- INICIO - APARTADO COMENTARIOS: -->
<div>
    {{#each establishment.comments as |comment|}}
    <div>
        <span class="me-auto">{{comment.owner.username}}</span>
        <p>{{comment.text}}</p>
        {{#isOwnedBy comment ../currentUser}}
        <form action="/establishments/{{comment.establishment}}/comments/{{comment.id}}/delete" method="POST">
            <button class="raise" type="submit">Delete</button>
        </form>
        {{/isOwnedBy}}
    </div>
    {{/each}}
</div>
<!-- FIN - APARTADO COMENTARIOS: -->