

<!-- TODO: Pintar listas del usuario por su owner
            <div class="container">
                <h4>My lists</h4>
                </div>
                {{#each lists as |list|}}
                    <li class="list-group-item d-flex">
                        <a href="/lists/{{list.id}}">{{list.title}}</a>
                    </li>
                {{/each}}
            </div>
        TODO: Hacer cards de listas y que, al clicar en una, te lleve a los detalles -->

<div class="body1 mt-5">
    <div class="box1 box2 mt-5">
        <div class="content1">
        <div class="image1">
            <img src="{{currentUser.photo}}" alt="Profile Image">
        </div>
        <div class="text">
            <p class="name">{{currentUser.username}}</p>
            <p class="job_title">{{currentUser.email}}</p>
            <p class="job_discription">{{currentUser.description}}</p>
        </div>
        <div class="button">
            <div class="d-flex justify-content-center">
                <button class="message"><a class="text-decoration-none text-black" href="/users/{{currentUser.id}}/edit">Edit account</a></button>
            </div>
            <div>
                <form action="/delete" method="post" class="d-flex justify-content-center mb-2">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="connect">Delete account</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>

