<main>

    <div class="card row d-flex flex-wrap justify-content-start">
        <div class="left col-lg-4">
            <div class="photo-start">
                <img class="photo" src={{currentUser.photo}}>
                <h4 class="name">{{currentUser.username}}</h4>
                    <p class="info">{{currentUser.email}}</p>
                <div class="d-flex align-items-start justify-content-center">
                    <div class="stat col-xs-4" style="padding-right: 50px;">
                        <p class="number-stat">0</p>
                        <p class="desc-stat">Followers</p>
                    </div>
                    <div class="stat col-xs-4" style="padding-right: 50px;">
                        <p class="number-stat">0</p>
                        <p class="desc-stat">Following</p>
                    </div>
                    <div class="stat col-xs-4" style="padding-right: 50px;">
                        <p class="number-stat">0</p>
                        <p class="desc-stat">Lists</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="stats row">
            <p class="description">{{currentUser.description}}</p>
        </div>
        <div class="card">
            <h4 class="description">{{currentUser.description}}</h4>
        </div>
        <div>
            <button class="d-flex justify-content-start mt-2 btn raise btn-outline-primary"><a href="/users/{{currentUser.id}}/edit">Edit</a></button>
        </div>
        <form action="/delete" method="post" class="d-flex justify-content-start mb-2">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn raise btn-outline-danger mb-1">Delete</button>
        </form>

        <!-- TODO: Pintar listas del usuario por su owner
            <div class="container">
                <h4>My lists</h4>
                </div>
                {{#each lists as |list|}}
                    <li class="list-group-item d-flex">
                        <a href="/lists/{{list.id}}">{{list.title}}</a>
                    </li>
                {{/each}}
            </div>
        TODO: Hacer cards de listas y que, al clicar en una, te lleve a los detalles -->

    </div>
</main> 